apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: external-secrets
spec:
  interval: 24h
  url: https://charts.external-secrets.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  releaseName: external-secrets
  interval: 30m
  chart:
    spec:
      chart: external-secrets
      version: 0.13.0 # Change above as well
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: external-secrets
  valuesFrom:
    - kind: ConfigMap
      name: external-secrets-values
