deployment:
  replicas: 3

ingressRoute:
  dashboard:
    enabled: false  # We'll manage this separately

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
    publishedService:
      enabled: true

ports:
  web:
    redirectTo: websecure
  websecure:
    tls:
      enabled: true

service:
  type: LoadBalancer
  annotations:
    metallb.universe.tf/loadBalancerIPs: "10.0.0.50"

additionalArguments:
  - "--api.dashboard=true"
  - "--metrics.prometheus=true"
  - "--ping=true"

securityContext:
  capabilities:
    drop: [ALL]
    add: [NET_BIND_SERVICE]
  readOnlyRootFilesystem: true
  runAsGroup: 65532
  runAsNonRoot: true
  runAsUser: 65532