apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: metallb
spec:
  interval: 24h
  url: https://metallb.github.io/metallb
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
spec:
  interval: 30m
  chart:
    spec:
      chart: metallb
      version: "0.14.*"
      sourceRef:
        kind: HelmRepository
        namespace: metallb
        name: metallb
      interval: 12h
  valuesFrom:
    - kind: ConfigMap
      name: metallb-values
