---
globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

service:
  spec:
    loadBalancerIP: "10.0.0.50" # production

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    port: 443
    tls:
      enabled: true

volumes:
  - name: traefik-config-dynamic
    mountPath: "/config/dynamic"
    type: configMap

log:
  level: DEBUG

ingressClass:
  enabled: true
  name: traefik

ingressRoute:
  dashboard:
    enabled: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
