---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-alert-rules
  namespace: monitoring
  labels:
    loki_rule: "true"
data:
  # yamllint disable rule:line-length
  example-loki-alerts.yaml: |
    groups:
      - name: example_alerts
        rules:
          - alert: HighErrorRate
            expr: |
              sum(rate({job="myapp", level="error"}[5m])) by (job)
              /
              sum(rate({job="myapp"}[5m])) by (job)
              > 0.05
            for: 10m
            labels:
              severity: page
            annotations:
              summary: High error rate in {{ "{{" }} $labels.job {{ "}}" }}
              description: "{{ "{{" }} $labels.job {{ "}}" }} is experiencing more than 5% errors over the last 5 minutes."
  # yamllint enable rule:line-length
