---
kube-prometheus-stack:
  grafana:
    enabled: false
  prometheus:
    prometheusSpec:
      podMonitorNamespaceSelector:
        matchLabels:
          podmonitorscrape: "true"
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      maximumStartupDurationSeconds: 60
