---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
        app.kubernetes.io/name: transmission
        app.kubernetes.io/instance: transmission
    spec:
      containers:
        - name: transmission
          image: haugene/transmission-openvpn:v5.3.2
          env:

          resources:
            requests:
              cpu: 10m
              memory: 170Mi
            limits:
              memory: 400Mi
          volumeMounts:
            - name: transmission-config
              mountPath: /config
              subPath: transmission/config
            - name: transmission-data
              mountPath: /media/movies
              subPath: movies
      volumes:
        - name: transmission-config
          persistentVolumeClaim:
            claimName: transmission-config-pvc
        - name: transmission-data
          persistentVolumeClaim:
            claimName: jellyfin-data-pvc
      securityContext:
        runAsUser: 995
        runAsGroup: 501
        fsGroup: 501
        fsGroupChangePolicy: "OnRootMismatch"
