---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-secret-key
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-secrets-manager
  target:
    name: grafana-secret-key
    template:
      type: Opaque
  data:
    - secretKey: secret-key
      remoteRef:
        key: homelab/grafana/secret-key-staging
        property: secret-key
