---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: system:kube-vip-role
rules:
  - apiGroups: ["", "coordination.k8s.io"]
    resources: ["endpoints", "services", "services/status", "leases", "nodes/status"]
    verbs: ["get", "list", "watch", "update", "patch"]
  - apiGroups: ["", "coordination.k8s.io"]
    resources: ["configmaps", "events"]
    verbs: ["create", "update", "patch", "delete", "list", "get", "watch"]
  - apiGroups: ["", "coordination.k8s.io"]
    resources: ["nodes"]
    verbs: ["list", "get", "watch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system:kube-vip-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:kube-vip-role
subjects:
  - kind: ServiceAccount
    name: kube-vip
    namespace: kube-system