metadata:
  name: jellyfin
spec:
  ingressClassName: traefik
  rules:
    - host: jellyfin.traefik.me
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jellyfin
                port:
                  name: http
