app-template:
  defaultPodOptions:
    securityContext:
      fsGroup: 1000
  service:
    main:
      enabled: false
  ingress:
    main:
      enabled: false
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/jellyfin/jellyfin
            tag: 10.10.7
        transmission:
          image:
            repository: lscr.io/linuxserver/transmission
            tag: 4.0.6
        prowlarr:
          image:
            repository: lscr.io/linuxserver/prowlarr
            tag: 1.37.0
        radarr:
          image:
            repository: lscr.io/linuxserver/radarr
            tag: 5.25.0
        sonarr:
          image:
            repository: lscr.io/linuxserver/sonarr
            tag: 4.0.14
        jellyseerr:
          image:
            repository: docker.io/fallenbagel/jellyseerr
            tag: 2.5.2
  persistence:
    data:
      accessMode: ReadWriteOnce
      size: 20Gi
      advancedMounts:
        main:
          main:
            - path: /config
              subPath: jellyfin/config
            - path: /media/movies
              subPath: movies
            - path: /media/shows
              subPath: shows
          transmission:
            - path: /config
              subPath: transmission/config
            - path: /downloads
              subPath: transmission/downloads
          prowlarr:
            - path: /config
              subPath: prowlarr/config
          radarr:
            - path: /config
              subPath: radarr/config
            - path: /downloads/complete
              subPath: transmission/downloads/complete
            - path: /movies
              subPath: movies
          sonarr:
            - path: /config
              subPath: sonarr/config
            - path: /downloads/complete
              subPath: transmission/downloads/complete
            - path: /shows
              subPath: shows
          jellyseerr:
            - path: /app/config
              subPath: jellyseerr/config
