---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: aws-secrets-manager
spec:
  provider:
    fake:
      data:
        - key: "homelab/traefik/dashboard-auth"
          value: admin:$apr1$WSFrF9R8$AmtnJxqJvFY83cITqXJfj1  # admin:admin
        - key: "homelab/immich/database"
          value: |
            {
              "DB_PASSWORD": "immich_password"
            }
