---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
spec:
  interval: 24h
  url: https://helm.traefik.io/traefik
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 34.1.0
      sourceRef:
        kind: HelmRepository
        namespace: traefik
        name: traefik
      interval: 12h
  valuesFrom:
    - kind: ConfigMap
      name: traefik-values
